<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <style>
        #sidebar {
            width: 20%;
            height: 100vh;
            background: #808080;
        }
    </style>
</head>

<body>
    <div class="d-flex">
        <div id="sidebar">
            <div class="p-2">
                <a href="#" class="navbar-brand text-center text-black-50 w-100 p-4 border-bottom">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tags-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 7.586 1H3zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                        <path d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z" />
                    </svg>
                    Etiquetas
                </a>
            </div>
            <div id="sidebar-accordion" class="accordion">
                <div class="list-group">
                    @foreach (var item in ViewBag.etiquetas)
                    {

                    //sdasssfdsdsfdfssdfsdfdsfsdfdsfdsfsdfdsf
                    <a href="/Nota_/Etiqueta?id=@item.Id"
                       class="list-group-item list-group-item-action bg-dark text-light ">
                        @item.Nombre
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tag" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2 2v4.586l7 7L13.586 9l-7-7H2zM1 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2z" />
                            <path fill-rule="evenodd" d="M4.5 5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                        </svg>
                    </a>}
                </div>
            </div>
        </div>
        <div class="content w-100">

            <section class="p-3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center text-light bg-dark" >
                                <h1 class="display-4">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                        <path fill-rule="evenodd" d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5z" />
                                        <circle cx="3.5" cy="5.5" r=".5" />
                                        <circle cx="3.5" cy="8" r=".5" />
                                        <circle cx="3.5" cy="10.5" r=".5" />
                                    </svg>
                                Notas
                                </h1>
                            </div>

                            <form class="float-right" action="/" enctype="multipart/form-data" method="get">
                                <div class="form-group mb-2">
                                    <input id="Nombre" style="background-size:cover; " type="search" name="search">
                                    <button class="btn btn-outline-success" id="buscar" type="submit"> Buscar</button>
                                </div>
                            </form>
                            <a href="#" data-toggle="modal" data-target="#crear" class="btn btn-success">Nueva Nota</a>

                            <br />
                            <br />
                            <div class="row" id="Lista">

                            </div>


                            <!-- Modal -->
                            <div class="modal fade" id="crear" tabindex="-1" aria-labelledby="crear" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Crear Nota</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="crearNotita">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" onclick="submitFormCrear()">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
    @section Scripts{
        <script>
            $.ajax({
                url: '/Nota_/Create',
                type: 'get'
            }).done(function (html) {
                $('#crearNotita').html(html);
            })

            function submitFormCrear() {
                $('#createNota').submit();
            }

            function guardar(event) {
                event.preventDefault();
                var dataString = new FormData($('#crear form')[0]);
                $.ajax({
                    url: "/Nota_/Create",
                    type: "post",
                    processData: false,  // Important!
                    contentType: false,
                    cache: false,
                    data: dataString
                }).done(function (html) {
                    location.reload();
                }).fail(function (html) {
                    $('#crearNotita').html(html.responseText);
                });
            }
        </script>

        <script>
            function init() {
                $.ajax({
                    url: '/Nota_/_Index?search=' + $('#Nombre').val()
                }).done(function (notas) {
                    $('#Lista').html(notas);
                });
            }

            $('#buscar').click(function (e) {
                e.preventDefault();
                init();
            });
            init();
        </script>
    }
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>


</body>

</html>